<div class="modal-header pb-0">
  <div class="col-11 d-flex justify-content-center">
    <div class="p-2 p-l-0 d-flex align-items-center gap-2">
      <img [src]="pool.baseSymbol | url:'icon'" class="img-fluid rounded-circle assetIcon float-start">
      <h6 class="m-0">{{ pool.name }}</h6>
    </div>
  </div>
  <i (click)="modalRef.close()" class="margin-left-auto margin-top-close-button fas fa-times fa-lg pe-2"
     role="button"></i>
</div>

<div class="modal-body">
  <div class="row g-1">
    <div class="col-12 col-md-4">
      <div class="card box-left h-100">
        <div class="card-body">
          <p class="card-text sub-topic">
            Total Supply
          </p>
          <h3 class="card-title">
            {{ +pool.totalSupply | unit: pool.baseDecimals }} {{ pool.baseSymbol }}
          </h3>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card box-left h-100">
        <div class="card-body">
          <p class="card-text sub-topic">
            Total Borrow
          </p>
          <h3 class="card-title">
            {{ +pool.totalBorrow | unit: pool.baseDecimals }} {{ pool.baseSymbol }}
          </h3>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2">
      <div class="card box-left h-100">
        <div class="card-body">
          <p class="card-text sub-topic">
            Utilization
          </p>
          <h3 class="card-title">
            {{ pool.utilization | percent: '1.2-2' }}
          </h3>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2">
      <div class="card box-left h-100">
        <div class="card-body">
          <p class="card-text sub-topic">
            APR
          </p>
          <h3 class="card-title text-primary">
            {{ pool.poolAprTotal | percent }}
          </h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card box-left">
        <div class="card-body">
          <p class="card-text sub-topic">
            Balance
          </p>
          <h3 class="card-title text-primary">
            <span *ngIf="this.terrajs.isConnected && balanceBaseToken === undefined"
                    aria-hidden="true" class="spinner-grow spinner-small mb-1" role="status">
              <span class="visually-hidden">Loading...</span>
            </span>
            {{ balanceBaseToken | unit: pool.baseDecimals }} {{ pool.baseSymbol }}
          </h3>
        </div>
      </div>
    </div>

    <div class="row tab-container g-0">
      <mdb-tabs [justified]="true">
        <mdb-tab *ngIf="!pool.disabled" title="Deposit">
          <form #formDeposit="ngForm" class="needs-validation p-3" novalidate>
            <div class="card card-green">
              <div class="card-body">
                <div class="small p-2">
                  <i class="fas fa-info-circle info-icon"></i>&nbsp;
                  <a [href]="pool.baseSymbol | url:'trade'"
                     target="_blank">Buy {{ pool.baseSymbol }}</a>
                </div>
              </div>
            </div>

            <div class="text-end small mt-3 mb-1 fw-bold">
              <span class="sub-topic">Balance: </span>
              <span *ngIf="this.terrajs.isConnected && !info.tokenBalances[pool.baseTokenContract]"
                    aria-hidden="true" class="spinner-grow spinner-small mb-1" role="status">
                <span class="visually-hidden">Loading...</span>
              </span>
              <span class="text-white">{{ info.tokenBalances[pool.baseTokenContract] | unit : pool.baseDecimals }} {{ pool.baseSymbol }}</span>
            </div>
            <div class="input-group">
              <span class="input-group-text f-12 igt-fixwidth fw-bold-600">
                <img [src]="pool.baseSymbol | url:'icon'" class="img-fluid rounded-circle me-1" height="24"
                     width="24">{{ pool.baseSymbol }}
              </span>
              <input #depositAmountCtl="ngModel"
                     [(ngModel)]="depositAmount"
                     [class.is-invalid]="(formDeposit.submitted || depositAmountCtl.touched) && depositAmountCtl.invalid"
                     [max]="+info.tokenBalances[pool.baseTokenContract] / pool.baseUnit" [min]="0"
                     [pattern]="'^[0-9]+(.[0-9]{0,' + pool.baseDecimals + '})?$'" [step]="0.000001"
                     required type="number" name="depositAmountCtl" class="form-control fix-border" />
              <button (click)="setMaxDepositAmount()" class="btn btn-max last" type="button">
                Max
              </button>
            </div>

            <div class="d-grid mt-3">
              <button (click)="doDeposit()" [disabled]="disableDepositButton" class="btn btn-primary mt-3"
                      type="submit">Deposit
              </button>
            </div>
          </form>
        </mdb-tab>

        <mdb-tab title="Withdraw">
          <form #formWithdraw="ngForm" class="needs-validation p-3" novalidate>
            <div class="text-end small mt-3 mb-1 fw-bold">
              <span class="sub-topic">Deposited: </span>
              <span *ngIf="this.terrajs.isConnected && balanceBaseToken === undefined"
                    aria-hidden="true" class="spinner-grow spinner-small mb-1" role="status">
                <span class="visually-hidden">Loading...</span>
              </span>
              <span class="text-white">{{ balanceBaseToken | unit: pool.baseDecimals }} {{ pool.baseSymbol }}</span>
            </div>
            <div class="input-group">
              <span class="input-group-text f-12 igt-fixwidth fw-bold-600">
                <img [src]="pool.baseSymbol | url:'icon'" class="img-fluid rounded-circle me-1" height="24"
                     width="24">{{ pool.baseSymbol }}
              </span>
              <input #withdrawAmountCtl="ngModel"
                     [(ngModel)]="withdrawAmount"
                     [class.is-invalid]="(formWithdraw.submitted || withdrawAmountCtl.touched) && withdrawAmountCtl.invalid"
                     [max]="+balanceBaseToken / pool.baseUnit" [min]="0"
                     [pattern]="'^[0-9]+(.[0-9]{0,' + pool.baseDecimals + '})?$'" [step]="0.000001"
                     required type="number" name="withdrawAmountCtl" class="form-control fix-border" />
              <button (click)="setMaxWithdrawAmount()" class="btn btn-max last" type="button">
                Max
              </button>
            </div>

            <div class="d-grid mt-3">
              <button (click)="doWithdraw()" [disabled]="disableWithdrawButton" class="btn btn-primary mt-3"
                      type="submit">Withdraw
              </button>
            </div>
          </form>
        </mdb-tab>
      </mdb-tabs>
    </div>
  </div>
</div>
